.card__conciergeService--details,
.card__hotelCollection--details {
  color: #4672e1;
  font-family: var(--fontSf);
}

.card__conciergeService--details::after,
.card__hotelCollection--details::after {
  content: ">";
  color: #4672e1;
  font-size: 14px;
  padding-left: 7px;
}

.card__rentCar--details,
.card__travelInsurance--deteils {
  color: #222;
  font-family: var(--fontSf);
}

.card__rentCar--details::after,
.card__travelInsurance--deteils::after {
  content: ">";
  color: #222;
  font-size: 14px;
  padding-left: 7px;
}

.card__hotelCollection,
.card__conciergeService,
.card__orendaSafe,
.card__personalManager,
.card__rentHotel {
  max-width: 276px;
  border-radius: 12px;
  background: #fff;
}

.cards__wrap {
  display: grid;
}

/*Hotel collection*/
.card__hHotelCollection--img {
  width: 55px;
  height: 60px;
}

.card__hotelCollection--subtitle {
  font-family: var(--fontRoboto);
  font-size: 20px;
  color: #222;
  font-weight: 500;
}

.card__hotelCollection--text,
.card__rentCar--text,
.card__conciergeService--text,
.card__orendaSafe--text,
.card__personalManager--text,
.card__rentHotel--text,
.card__travelInsurance--text {
  font-family: var(--fontRoboto);
  font-size: 14px;
  color: #0f0f10;
}

.card__link {
  padding: 0 24px;
  text-decoration: none;
}

/*Rent car*/
.card__rentCar {
  max-width: 276px;
  border-radius: 12px;
  background: linear-gradient(180deg, #7a9fff 0%, #57d5f0 100%);
}

.card__rentCar--img {
  width: 60%;
}

.card__rentCar--subtitle {
  font-family: var(--fontRoboto);
  font-size: 24px;
  color: #222;
  font-weight: bold;
}

/*Concierge service*/
.card__conciergeService--img {
  width: 38px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 18px 5px;
}

.card__conciergeService--subtitle {
  color: #222;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--fontRoboto);
}

/*Orenda safe*/
.card__orendaSafe--img {
  width: 38px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 18px 5px;
}

.card__orendaSafe--subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #222;
  font-family: var(--fontRoboto);
}

/*Personal manager*/
.card__personalManager--img {
  width: 28px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 6px;
}

.card__personalManager--subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #222;
  font-family: var(--fontRoboto);
}

/*Rent hotel*/
.card__rentHotel--img {
  width: 49px;
  border: 1px solid #000;
  border-radius: 8px;
}

.card__rentHotel--subtitle {
  font-weight: 500;
  font-size: 20px;
  font-family: var(--fontRoboto);
}

.card__rentHotel--link {
  color: #0f0f10;
}

/*Rravel insurance*/
.card__travelInsurance {
  max-width: 276px;
  background: linear-gradient(180deg, #ffdf6b 0%, #ffd43c 100%);
  border-radius: 12px;
}

.card__travelInsurance--img {
  width: 45%;
}

.card__travelInsurance--subtitle {
  font-family: var(--fontRoboto);
  font-weight: bold;
  font-size: 24px;
  color: #222;
}
