.services {
  width: 100%;
}

.services__section {
  margin: 0 auto;
  width: 80%;
  background: url(../img/wingOfAirplane.png);
  height: 1350px;
  border-radius: 8px;
  margin-bottom: 250px; /*delete this style*/
}

.services__subtitle {
  font-size: 54px;
  font-weight: bold;
  color: #fff;
  font-family: var(--fontRoboto);
}

.services__subtitleAdvertising {
  font-size: 20px;
  color: #fff;
  font-family: var(--fontRoboto);
}
